body{
	font-family: 'Play', sans-serif;
}

#map-canvas{
    margin: 0 auto;
    height: 400px; width: 1000px;
    background-color: papayawhip;
}

 #title {

	text-align: center;
	font-size: 75px;
	font-family: 'Play', sans-serif;

}

#signup-button{
	font-family: 'Play', sans-serif;
	text-align: center;
	position: absolute;
    left: 40%;
    top: 625px;
}

#login-button{
	font-family: 'Play', sans-serif;
	text-align: center;
	position: absolute;
    left: 50%;
    top: 625px;
}


#register{
	font-family: 'Play', sans-serif;
	position: absolute;
    left: 43%;
    top: 720px;
}

#user-view-template{
	font-family: 'Play', sans-serif;
	text-align: center;

}



#signup-username{
	font-family: 'Play', sans-serif;
	text-align: center;
	position: absolute;
    left: 40%;
    top: 625px;
}

#signup-password{
	font-family: 'Play', sans-serif;
	text-align: center;
	position: absolute;
    left: 40%;
    top: 675px;
}

#mylist-add{
	font-family: 'Play', sans-serif;
}

#mylist-complete{
	font-family: 'Play', sans-serif;
}

#bucket-list-todo{
	position: absolute;
	left: 5%;
    background-color: lightgrey;
    width: 500px;
    padding: 100px;
    border: 10px solid navy;
    margin: 25px;
}

#bucket-list-completed{
	position: absolute;
	left: 50%;
	background-color: lightgrey;
    width: 500px;
    padding: 100px;
    border: 10px solid navy;
    margin: 25px;
}

#justin{
	position: absolute;
    left: 39%;
    top: 625px;

}

#jets{
	position: absolute;
    left: 39%;
    top: 675px;

}



